.name_cake{
  margin:0;
  padding: 5px;
}
ul.content_menu{
  margin:0;
  padding:0;
  list-style-type:none;
  font-size: 100%;
  font-weight: bold;
}
ul.content_menu li{
  float:left;
  margin: 5px 10px 10px 0;
  text-align: center;
}
ul.content_menu li a{
  text-decoration: none;
  background-color:#fce94f;
  padding: 5px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
}
ul.content_menu li a:hover{
  background-color:#edd400;
}
.cake{
  background-color:#8ae234;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 200px;
}
footer{
  background-color:#f57900;
  text-align: right;
  padding-top: 5px;
  height: 20px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
}
footer p{
  margin-right:20px;
}
